<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty name="LOGGING_MODE" source="logging.mode" defaultValue="default"/>
    <springProperty name="LOGGING_PATH" source="logging.path" defaultValue="${user.home}/logs"/>
    <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="service"/>
    <springProperty name="LOG_PATTERN" source="logging.pattern"
                    defaultValue="%4relative [%d] %X{identity} [%thread] %-5level %logger{35} - %msg%n"/>
    <property name="LOG_FILE" value="${LOGGING_PATH}/current/${SERVICE_NAME}.log"/>
    <property name="LOG_ARCHIVE" value="${LOGGING_PATH}/archive}"/>
    <timestamp key="startTime" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/${SERVICE_NAME}/${SERVICE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>45</maxHistory>
        </rollingPolicy>
    </appender>
    <if condition='property("LOGGING_MODE").equals("logstash")'>
        <then>
            <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <timestamp/>
                        <threadName/>
                        <logLevel/>
                        <loggerName/>
                        <message/>
                        <stackTrace>
                            <fieldName>stackTrace</fieldName>
                            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                                <exclude>net\.sf\.cglib\..*</exclude>
                                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                                <rootCauseFirst>true</rootCauseFirst>
                            </throwableConverter>
                        </stackTrace>
                        <pattern>
                            <pattern>{ "service_name": "${SERVICE_NAME:-}"}</pattern>
                        </pattern>
                    </providers>
                </encoder>
            </appender>
        </then>
    </if>
    <root level="INFO">
        <if condition='property("LOGGING_MODE").equals("logstash")'>
            <then>
                <appender-ref ref="LOGSTASH"/>
            </then>
            <else>
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="FILE"/>
            </else>
        </if>
    </root>
</configuration>